:root {
    --text-color: #272142;
    --primary-color: #662EED;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

img {
    display: block;
}



h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

img:not(.logo) {
    width: 100%;

}

.header {
    padding: 10px 22px;
}

.navbar a {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.navbar-nav .nav-link.active {
    color: var(--primary-color);
}

.hero {
    color: #fff;
    background-image: url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text p {
    font-size: 18px;
    font-weight: 700;
}

@media screen and (min-width: 991px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 24px;
    }

    .header {
        padding: 24px 140px;
    }

    .hero-text p {
        font-size: 24px;
    }
}

/* Recipe items */
.recipe-img {
    width: 100%;
}

.recipe-name {
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .recipe-name {
        font-size: 28px;
    }
}

.profile-img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.about {
    text-align: center;
    margin-top: 42px;
}

.about p {
    font-weight: 400;
}

@media screen and (min-width: 992px) {
    .profile-img {
        margin-left: auto;
    }

    .about {
        text-align: left;
    }
}

.fav-section {
    padding: 0 32px;
}

@media screen and (min-width: 992px) {
    .fav-section {
        padding: 0;
    }
}


/* Recipe */
.recipe-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
}

.underline-dotted {
    border-bottom: 1px dashed #67D5D2;
}

.recipe-instrucitons {
    margin-bottom: 40px;
}

table {
    table-layout: fixed;
}

th:last-child,
td:last-child {
    padding-left: 20px;
}

td:first-child {
    width: 100%;
}

tbody:before {
    content: "@";
    display: block;
    line-height: 20px;
    text-indent: -99999px;
}

.recipe-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.recipe-container ul li {
    padding: 10px 0;
    border-bottom: 1px dashed #67D5D2;
}

.step {
    color: #F65282;
    font-size: 18px;
}

/* Contact */
.contact-container .profile-img {
    margin-left: auto;
}

.contact-title {
    font-size: 18px;
    color: #662EED;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* footer */
footer {
    background: #F9F7FE;
}

footer a {
    color: #272142;
}